<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/favicon/apple-touch-icon.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/favicon/favicon-32x32.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/favicon/favicon-16x16.png' | relative_url }}"
/>
<link rel="manifest" href="favicon/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta
  property="og:image"
  content="https://raw.githubusercontent.com/thefinalcutbg/DinoDentWeb/master/assets/images/logoBanner.png"
/>
<!-- end custom head snippets -->

<style>
  {% if page.header.text_color %}
    .page__hero--overlay .page__title,
    .page__hero--overlay .page__meta,
    .page__hero--overlay .page__lead,
    .page__hero--overlay .btn {
      color: {{page.header.text_color}} !important;
    }
  {% endif %}
</style>
